<nav class="topnav">
  <header>
  <ul style="white-space: nowrap;">
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
    <li><a href="{{ site.baseurl }}/content/blog.html">Blog</a></li>
    <li><a href="{{ site.baseurl }}/content/tutorials.html">Tutorials</a></li>
    <li><a href="{{ site.baseurl }}/content/theorie.html">Theorie</a></li>
    <li><a href="{{ site.baseurl }}/content/nomenklatur.html">Nomenklatur</a></li>
    <li><a href="{{ site.baseurl }}/content/kontakt.html">Kontakt</a></li>
  </ul>
  </header>
</nav>
