$one-dark-background: #282c34;
$one-dark-current-line: #353b45;
$one-dark-selection: #3e4451;
$one-dark-foreground: #abb2bf;
$one-dark-comment: #5c6370;

$one-dark-cyan: #56b6c2;
$one-dark-green: #98c379;
$one-dark-orange: #d19a66;
$one-dark-pink: #c678dd;
$one-dark-purple: #c678dd;
$one-dark-red: #e06c75;
$one-dark-yellow: #e5c07b;

$text-color: $one-dark-foreground;
$background-color: $one-dark-background;
// $link-color: $one-dark-cyan;
$link-color: $one-dark-green;
$border-color: $one-dark-selection;

// $inline-code-text-color: $one-dark-foreground;
$inline-code-text-color: $one-dark-yellow;
//$inline-code-background-color: $one-dark-background;
$inline-code-background-color: $one-dark-current-line;
$block-code-text-color: $one-dark-foreground;
$block-code-background-color: $one-dark-current-line;

$quote-text-color: $one-dark-comment;
$quote-background-color: $one-dark-background;

$table-row-color-light: $one-dark-background;
$table-row-color-dark: $one-dark-current-line;
$table-border-color: $one-dark-foreground;
